// *
//   box-sizing border-box
//   margin 0
//   padding 0

// html
// body
//   width 100%
//   height @width

// body
//   overflow-x hidden

// table
//   width 100%
//   border-collapse collapse

// th
// td
//   padding 8px
//   border 1px solid #efefef
//   text-align left

#app-view
  height 100vh

.pdtb
  padding 16px 0

.pdtb-md
  padding 32px 0
